HELP.md
### main/test/pom.xml代码提交 ###
!**/src/main/**
!**/src/test/**
!**/pom.xml

### TARGER目录下代码不需要提交 ###
**/target/**
/src/main/resources/application-prod.yml
.gradle/



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
